
<div class="container">
  <main role="main" class="pb-3" style="padding-top: 120px;">

<div class="container table-bordered " style="padding: 30px; width: 50%; border-radius: 6px; border-width: 3px; border-color:rgb(212, 214, 241);margin-bottom: 115px;">  
    <div id="qrshow" style="float: right;">
      <img src="{{ srcpic }}" alt="qrcode" style="width: 100%;">
    </div>
  <div style="float: left;width: 67%;">
    <h3>{{salle}}</h3><br>
    <p style="font-size: medium;">Scan this QR code using our mobile application to reserve this classroom.</p>
  </div>
</div>

</main>
</div>